body{
    background-color: gray;
}

header{
    background-color: rgb(48, 35, 35);
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(150, 147, 147);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

}

.container{
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    width: 40%;
}

.options{
    background-color: rgb(98, 92, 92);
    width: 140px;
    height: 180px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

a{
    color: white;
}

.options:hover{
    background-color: rgb(66, 66, 114);
}