body{
    background-color: rgb(214, 180, 29);
    font-family: cursive;
}
.container{
    display: flex;
}

.edit{
    width: 20%;
    height: 200px;
}

.list-of-ingredients{
    margin-left: 10%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.ingredient{
    background-color: brown;
    width: 175px;
    height: 220px;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    float: left;
}

.ingredient .id{
    font-size: 20px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.edit form{
    border: black solid 2px;
}

.dish-name{
    text-align: center;
}
