<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj produkt</title>
    <link rel="stylesheet" href="/css/adddish.css">
</head>
<body>
<header th:style="'background-image: url(' + @{/img/bg1.jpg} + ');'"></header>
<div class="container">
    <div class="list-of-item">
        <div class="order"></div>
        <div class="item">
            <div class="itemcon">
                <p>3x</p>
                <p>Margarita</p>
            </div>
            <div class="delete">
                <p>59,99zł</p>
                <a href="">Usuń</a>
            </div>
        </div>
        <div class="confirm">Złóż zamówienie</div>
    </div>

    <div class="list-of-dishes">
        <div class="dish">
            <div class="leftdish">
                <h3>Margarita</h3>
                    <div class="do zmiany">
                        <p>Składniki: Ser, Szynka, Ciasto</p>
                    </div>
                    <div class="dol">
                        <div class="add">
                            <a href="">Dodaj</a>
                        </div>
                        <div class="dishcost">
                            29,99zł
                        </div>
                    </div>
            </div>
            <div class="rightdish">
<!--                <img src="classic-cheese-pizza-FT-RECIPE0422-31a2c938fc2546c9a07b7011658cfd05.jpg" alt="opis_zdjęcia" class="dish-image">-->
            </div>
        </div>
        <div class="dish"></div>
        <div class="dish"></div>
    </div>
</div>
</body>
</html>