<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj produkt</title>
    <link rel="stylesheet" href="/css/adddish2.css">
</head>
<body>
<header th:style="'background-image: url(' + @{/img/bg1.jpg} + ');'"></header>
<div class="container">
    <div class="list-of-item">
        <div class="order"></div>
        <div class="item">
            <div class="itemcon">
                <p>3x Pizza</p>
            </div>
            <div class="delete">
                <p>59,99zł</p>
                <a href="">Usuń</a>
            </div>
        </div>

        <div class="item">
            <div class="itemcon">
                <p>2x Cola</p>
            </div>
            <div class="delete">
                <p>12,99zł</p>
                <a href="">Usuń</a>
            </div>
        </div>
        <div class="confirm">Złóż zamówienie</div>
    </div>

    <div class="list-of-dishes" th:each="dish : ${dishes}">
        <div class="dish">
            <div class="leftdish">
                <h3 th:text="${dish.getName()}"></h3>
                <div class="do zmiany">
                    <p>Składniki: Ser, Szynka, Ciasto</p>
                </div>
                <div class="dol">
                    <div class="add">
                        <a href="">Dodaj</a>
                    </div>
                    <div class="dishcost" th:text="${dish.getCost()}">
                    </div>
                </div>
            </div>
            <div class="rightdish">
                <img th:src="@{/v1/menu/image/{id}(id=${dish.getId()})}" class="dish-image">
            </div>
        </div>
    </div>
</div>
</body>
</html>