<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/adminmain2.css">
</head>
<body>
<header>
    <h1>Panel Admin</h1>
</header>
<div class="container">
    <div class="options">
        <p>Dania</p>
        <a href="/admin/dish">Edytuj</a>
    </div>
    <div class="options">
        <p>Składniki</p>
        <a href="/admin/ingredient">Edytuj</a>
    </div>
    <div class="options">
        <p>Kategorie</p>
        <a href="/admin/category">Edytuj</a>
    </div>
    <div class="options">
        <p>Zamówienia</p>
        <a href="">Edytuj</a>
    </div>
</div>
</body>
</html>