<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4Strona Główna</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<header th:style="'background-image: url(' + @{/img/bg1.jpg} + ');'">Nazwa Twojej Restauracji</header>
<div class="container">
    <div class="order">
        <div class="order-item">
            <div class="order-item-amount">2x</div>
            <div class="order-item-name">Margarita</div>
        </div>
        <div class="order-item">
            <div class="order-item-amount">5x</div>
            <div class="order-item-name">Burger wołowy</div>
        </div>
        <div class="order-item">
            <div class="order-item-amount">7x</div>
            <div class="order-item-name">Pepsi</div>
        </div>
    </div>

    <div class="right">
        <div class="category" th:each="cat : ${categories}">
            <div class="name" th:text="${cat.getName()}">Burgery</div>
            <img th:src="@{/v1/category/image/{id}(id=${cat.getId()})}">
            <div class="enter-category">
                <button type="submit">Wybierz</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>