<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Główna</title>
    <link rel="stylesheet" th:href="@{/css/home5.css}">
</head>
<body>
<header>Nazwa Twojej Restauracji</header>
<div class="container">
    <!-- Sekcja zamówień -->
    <div class="list-of-item">
        <div class="order">Twoje Zamówienie</div>
        <!-- Przykładowy element zamówienia, powtarzany dla każdego elementu w zamówieniu -->
        <div class="item" th:each="orderItem : ${orderItems2.getDishes()}">
            <div class="itemcon">
                <p th:text="${orderItem.getName()}"></p>
            </div>
            <div class="delete">
                <p th:text="${orderItem.getCost()} + 'zł'"></p>
                <a th:href="@{/remove/{orderId}/{dishId}(orderId=${orderItems2.getId()}, dishId=${orderItem.getId()})}">Usuń</a>
            </div>
        </div>
        <p class="totalCost" th:text="${orderItems2.getTotalCost()}"></p>
        <div class="confirm">Złóż zamówienie</div>
    </div>

    <!-- Sekcja kategorii -->
    <div class="right" th:each="cat : ${categories}">
        <div class="category">
            <div class="name" th:text="${cat.name}">Nazwa Kategorii</div>
            <img th:src="@{/v1/category/image/{id}(id=${cat.getId()})}" alt="Obrazek Kategorii">
            <div class="enter-category">
                <form th:action="@{'/add/' + ${cat.id}}" method="get">
                    <button type="submit">Wybierz</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
